@model TodoApp.Models.User

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Index";
}

@section stylesheet {
	<link rel="stylesheet" href="@Url.Content("~/content/board.css")">
}

@section scriptReferences {
<script src="@Url.Content("~/scripts/board-styles.js")"></script>
<script src="@Url.Content("~/scripts/board-resize.js")"></script>
<script src="@Url.Content("~/scripts/board-list-additem.js")"></script>
<script src="@Url.Content("~/scripts/board-autosave.js")"></script>
<script src="@Url.Content("~/scripts/board-sorting.js")"></script>
}

@*
Exo-model declaration
*@

@ExoWeb.Model(new 
{
	user = Model.Include("Lists.Items", "Priority.All")
})

@*
Main board interface
*@

@ExoWeb.Render(@<div class="sys-template board" sys:attach="dataview" dataview:data="{~ context.model.user, source=window }">
	<div class="board-title">
		<span class="board-user">{# Name}</span>
		<a class="board-addlist" href="#" onclick="return false;">Add a list..</a>
		<span class="board-status">
			<span class="board-server-working">Communicating with the server...</span>
			<span class="board-server-success">Success</span>
			<span class="board-server-failure">An error occurred!</span>
			<a href="#" onclick="return false;">Try again</a>
		</span>
	</div>
	<div class="sys-template board-background" sys:attach="dataview" dataview:data="{~ Lists, transform=orderBy('Sequence') }">
		<div class="board-list">
			<div class="board-list-title">
				<strong>{# Name}</strong>
				<span class="board-deletelist"></span>
			</div>
			<div class="sys-template board-list-content sortable" sys:attach="dataview" dataview:data="{~ Items, transform=orderBy('Sequence') }">
				<div sys:class="{# Priority.Name}">
					<div class="board-list-item">
						<div class="board-list-item-text">
							<span>{# Description}</span>
						</div>
						<div class="board-list-item-age-description">Item Age Description (eg, one minute ago)</div>
						<span class="board-list-item-priority"></span>
						<a class="board-list-deleteitem" href="#" onclick="return false;"></a>
					</div></div></div>
			<div class="board-list-additem">
				<input type="text" style="display:none;" value="" />
				<a href="#" onclick="return false;">Add an item...</a></div>
		</div>
	</div>
</div>)
